@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

/* shared styles */

.habit-img {
    border-radius: 100%;
}

.habit-headline {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    margin-right: 60px;

}

.habit-description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: .8rem;
    opacity: 50%;
    text-align: center;
    margin-right: 30px;
}


.bg {
    background-color: black;

}

.bg-lg {
    background: rgba(17, 17, 17, 1.00);
    width: 100%;
}


.bmi-calculator-content {
    color: rgba(255, 255, 255, 0.808);
    font-size: 1rem;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.096);
    border: .1px solid black;
    border-radius: 5%;
    opacity: 60%;
    padding: 5px 0px;
    width: 100%;
    margin-bottom: 50px;
}

.team-img {
    border: 1px solid black;
    border-radius: 10px;
}

.team-img-name {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

.team-img-post {
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    opacity: 50%;
    margin-top: 0px;
}


.footer-content {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    opacity: 50%;
    line-height: 20px;
}

.footer-2nd-heading {
    font-size: 2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

/* navbar styles */

.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
   
}

.brand {
    font-size: 2.25rem;
    font-weight: bolder;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
    margin-left: 100px;
}

.nav {
    border: .1px dashed rgb(34, 34, 34);
    border-radius: 40px;
    width: 470px;
    height: 55px;
    margin-right: 100px;
    margin-top: 30px;

}

.nav-links {
    display: flex;
    font-size: 1.12rem;
    padding: 0px;
}

.nav-item {
    list-style: none;
    margin-right: 47px;

}

.nav-link {
    text-decoration: none;
    color: white;
    margin-left: 7px;

}

.nav-home {
    font-weight: 600;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 46px;
    padding: 12px 20px;
}

.hamburger{
    margin-top: 1px;
    margin-right: 1px;
    position: absolute;
}

.bar {
    width: 30px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.65);
    margin: 5px 0;
    display: none;
}

/* banner styles */

.banner {
    display: flex;
}

.banner-content {
    margin: 50px 0 76px 100px;
}

.banner-headline {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 900;
    line-height: 100%;
}

.miama-fonts {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 8rem;

}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1rem;
    margin-top: 28px;
}

.banner-content-btn {
    display: flex;
}

.btn-primary {
    background-color: rgba(230, 83, 60, 1);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 46px;
    font-size: 1.12rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    margin-top: 28px;
    margin-right: 20px;
}

.btn-primary1 {
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 46px;
    font-size: 1.12rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    margin-top: 28px;
}

.banner-img {
    width: 350px;
    height: 580px;
    position: relative;

}

.banner-img-1 {
    margin: 32px 0 0 300px;
    width: 350px;
    height: 580px;
}

.btn-primary3 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 150px;
    right: -100%;
}

.primary3-1st {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin: 17px 53px 41x 0;

}

.primary3-2nd {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    font-weight: 400;
    margin: 0px 23px 10px 23px;
}

.btn-primary4 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    display: flex;
    bottom: 35px;
    right: -60px;
}

.primary4-1st {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    font-weight: 900;
    margin: 20px 40px 0 10px;
}

.primary4-2nd {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 10px 15px 10px;

}

.round {
    height: 50px;
    width: 50px;
    background-color: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
    border-radius: 100%;
    margin: 10px 0 15px 10px;
}

/* Change Your Habits styles */

.habit-headline {
    text-align: center;
    margin-top: 100px;
}

.habit-title {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    line-height: 120%;
    margin-bottom: 14px;
}

.habit-description {
    color: rgba(255, 255, 255, 0.5);
    opacity: 50%;
    font-size: 1rem;
    font-weight: 400;
}

.habit-img-container {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}

.img-1-headline {
    margin-top: 30px;
    margin-bottom: 10px;
}

.img-2-headline {
    margin-top: 30px;
    margin-bottom: 10px;
}

.img-3-headline {
    margin-top: 30px;
    margin-bottom: 10px;
}

.img-4-headline {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* run extra mile styles */

.run-extra-mile {
    display: flex;
    margin: 100px 150px;
    gap: 200px;
    background-color: rgba(34, 34, 34, 1);
    padding: 30px 32px 30px 54px;

}

.run-title {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    line-height: 120%;

}

.run-description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: .8rem;
    opacity: 50%;
    margin-top: 15px;
}

.btn-run {
    background-color: rgba(230, 83, 60, 1);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 60px;
    font-size: 1.12rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    margin-top: 20px;
}

.img-run {
    width: 365px;
    height: 310px;
    border-radius: 18%;
}


/* bmi calculator styles */

.bmi-headline {
    color: rgba(255, 255, 255, 1);
    margin-left: 350px;
    margin-bottom: 15px;
}

.bmi-description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: .8rem;
    opacity: 50%;
    margin-left: 350px;
    margin-bottom: 50px;
}

.bmi-chart-calculate {
    display: flex;
    background-color: rgba(34, 34, 34, 1);
    padding-bottom: 150px;
}

.bmi-chart {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}

.bmi-chart-table {
    margin: 88px 0 0 150px;
}

table {
    border-collapse: collapse;
}

th {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 600;
    border: .1px solid rgba(255, 255, 255, 0.5);
    padding: 15px 20px;
    text-align: left;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    font-weight: 400;
    border: .1px solid rgba(255, 255, 255, 0.5);
    padding: 15px 20px;
    opacity: 50%;
}



.your-bmi {
    margin: 88px 0 0 170px;
}


.your-bmi-headline {
    color: rgba(255, 255, 255, 1);
}

.your-bmi-description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: .8rem;
    opacity: 50%;
}

.bmi-form {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    row-gap: 10px;
}

.Height,
.Age {
    margin: 0;
}

.Weight,
.Sex {
    margin: 0;
}


.select-factor {
    color: rgba(255, 255, 255, 0.527);
    font-size: 1rem;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.103);
    border: .1px solid black;
    border-radius: 5%;
    opacity: 60%;
    width: 100%;
    padding: 5px 0px 5px 0;
    margin-top: 8px;
    margin-bottom: 25px;

}

.btn-bmi {
    background-color: rgba(230, 83, 60, 1);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 60px;
    font-size: 1.12rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
}

/* team styles */

.team-headline {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 50px;
}

.team-description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: .8rem;
    opacity: 50%;
    text-align: center;
    line-height: 20px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    gap: 10px;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 30px 300px 0px 150px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;

}

.team-1 {
    position: absolute;
    top: 200px;
    left: 20px;
}

.team-2 {
    position: absolute;
    top: 200px;
    left: 310px;
}

.team-3 {
    position: absolute;
    top: 200px;
    left: 600px;
}

.team-4 {
    position: absolute;
    top: 490px;
    left: 20px;
}

.team-5 {
    position: absolute;
    top: 490px;
    left: 310px;
}

.team-6 {
    position: absolute;
    top: 490px;
    left: 600px;
}

/* footer styles */

footer {
    background-color: rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;

}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 80px;
}

.footer-1-heading {
    font-size: 4.3rem;
    font-weight: bolder;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
    margin-bottom: 10px;
}

.footer-1-description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: .8rem;
    opacity: 50%;
    line-height: 20px;
}

.footer-1 {
    margin: 0px 180px 10px 150px;
}

.footer-2 {
    margin: 50px 0px 10px 0px;
}

.footer-3 {
    margin: 50px 0 10px 50px;
}

.hr-bar {
    color: rgba(255, 255, 255, 0.1);
    opacity: 20%;
    margin: 50px 150px 20px 150px;
}

.hr-bar-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
    opacity: 50%;
    text-align: center;
}

/* responsive media query */

@media screen and (max-width:576px) {

    /* banner styles */

    
    .brand {
        margin-left: 10px;
    }

    .nav {
        display: none;
        height: auto;
        width: auto;
    }

    .bar{
        display: block;
        margin-left: 230px;
    }

    .hamburger{
        margin-top: 35px;
        right: 10px;
    }

    .navbar {
        flex-direction: row;
        
    }

    .nav-links {
        flex-direction: column;
    }

    .banner {
        flex-direction: column;
        margin-left: 10px;
        width: 100%;
    }

    .banner-content-btn {
        flex-direction: column;

    }

    .btn-primary1 {

        margin-right: 15px;

    }

    .banner-img-1 {
        margin: 0;
    }

    .btn-primary3 {
        right: 0;
    }

    .btn-primary4 {
        right: auto;
    }

    .banner-content {
        margin-left: 10px;
    }

    /* habit styles */

    .habit-headline {
        text-align: center;
        margin-right: 0px;
    }

    .habit-description {
        margin-left: 20px;
        margin-right: 0px;

    }

    .habit-img-container {
        flex-direction: column;
        margin-left: 0px;


    }

    .img-1-movement,
    .img-2-time,
    .img-3-practice,
    .img-4-Weight-Loss {
        margin-left: 120px;
    }

    .img-1-headline,
    .img-2-headline,
    .img-3-headline,
    .img-4-headline {
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 140px;
    }

    .img-1-description,
    .img-2-description,
    .img-3-description,
    .img-4-description {
        margin-left: 120px;
        margin-right: 0;
    }



    /* run extra mile styles */

    .run-extra-mile {
        flex-direction: column;
        margin: 0 auto;

    }

    .img-run {
        width: 100%;
        height: 100%;
        border-radius: 18%;
    }


    .bmi-headline,
    .bmi-description {
        margin-left: 10px;

    }


    .bmi-chart-calculate {
        flex-direction: column;
        margin: 0;

    }

    .bmi-chart-table,
    .your-bmi {
        margin: 0 10px 0 10px;
    }

    .bmi-calculator-content {
        width: 100%;
    }

    .select-factor {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 25px;
    }

    .team-headline {

        text-align: center;

    }

    .team-description {

        text-align: center;

    }

    .team-img-container {
        grid-template-columns: repeat(1, 2fr);
        margin: 0 10px 0 10px;
        padding: 10px 10px 10px 10px;

    }

    .team-1 {
        position: absolute;
        top: 200px;
        left: 40px;
    }

    .team-2 {
        position: absolute;
        top: 490px;
        left: 40px;
    }

    .team-3 {
        position: absolute;
        top: 770px;
        left: 40px;
    }

    .team-4 {
        position: absolute;
        top: 1070px;
        left: 40px;
    }

    .team-5 {
        position: absolute;
        top: 1340px;
        left: 40px;
    }

    .team-6 {
        position: absolute;
        top: 1640px;
        left: 40px;
    }

    /* footer styles */


    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 80px;
    }

    .footer-1 {
        margin: 0px 0 10px 10px;
    }

    .footer-2 {
        margin: 0px 0 10px 10px;
    }

    .footer-3 {
        margin: 0px 0 10px 10px;
    }

    .hr-bar {

        margin: 0px 10px 10px 10px;
    }
}